/*
* Autor: Pavel Kizernis (pashakiz@gmail.com)
* https://github.com/pashakiz/countdown.js
*/

.block {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
.countdown-js {
	text-align: center;
	margin: 20px 0;
}
.clockface {
	display: inline-block;
  font-size: 44px;
	color: #222222;
}
.clockface-item {
	display: inline-block;
}
.clockface__separator {
	display: inline-block;
  vertical-align: top;
}
.clockface__separator:after {
	content: ":";
	margin: 0 5px;
}
.clockface__value {}
.clockface__title {
	font-size: 16px;
	line-height: 1;
	color: #777;
	margin-top: 11px;
}
.footer-link {
  color: #8b949e;
}
.footer-link:hover {
  color: #222222;
}
.octicon {
  fill: currentColor;
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
}
